{% extends 'base.html' %}

{% block content %}

<h3>This is the cart</h3>

{% for p in cart %}
<p><span class="boldtext">Product Name:</span> {{ p.product.name }} </p>
<p><span class="boldtext">Product description:</span> {{ p.product.description }} </p>
<img src="{{MEDIA_URL}}{{p.product.image}}">
<p><span class="boldtext">Product price:</span> {{ p.product.price }} </p>
<p><span class="boldtext">Product brand:</span> {{ p.product.brand }} </p>
<p><span class="boldtext">Amount in Cart:</span> {{ p.quantity }} </p>
{% endfor %}

{% endblock content %}